
# Created by https://www.gitignore.io/api/laravel

### Laravel ###
backend/vendor/
backend/node_modules/
npm-debug.log

# Laravel 4 specific
backend/bootstrap/compiled.php
backend/app/storage/

# Laravel 5 & Lumen specific
backend/public/storage
backend/public/hot
backend/storage/*.key
backend/.env.*.php
backend/.env.php
backend/.env
Homestead.yaml
Homestead.json

# Rocketeer PHP task runner and deployment package. https://github.com/rocketeers/rocketeer
.rocketeer/

# End of https://www.gitignore.io/api/laravel
